.header {
  position: sticky;
  top: 0;
  z-index: 1030;
}

.logo img {
  max-height: 40px;
  
}

.nav-link {
  cursor: pointer;
}

.user-build {
  font-weight: 600;
}

@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }

  .nav {
    order: 3;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
  }

  .user-actions {
    order: 2;
  }

  .logo {
    order: 1;
  }
}
