<footer class="footer">
  <div class="footer-content">
    <p>&copy; {{ currentYear }} SmartITS. All rights reserved.</p>

    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a>
      <a href="#">Contact</a>
    </div>

    <div class="footer-socials">
      <a href="#"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a>
      <a href="#"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
      <a href="#"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
      <a href="#"><fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon></a>
    </div>
  </div>
</footer>
